<!DOCTYPE html>

<html>

<head>
    <title>2d_cad_Three.JS</title>
    <meta charset="UTF-8" />
    <script type="text/javascript" charset="UTF-8" src="../../libs/three/three.js"></script>
    <script type="text/javascript" charset="UTF-8" src="../../libs/three/controls/TrackballControls.js"></script>
    <script type="text/javascript" src="../../libs/util/Stats.js"></script>
    <script type="text/javascript" src="../../libs/util/dat.gui.js"></script>

    <script type="text/javascript" src="../js/util.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
    <script src="js/two.min.js"></script>
    <script src="js/two.js"></script>
    <!-- <script src="node_modules\two.js\src\renderers\webgl.js"></script> -->
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/two.js/0.7.4/two.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script> -->


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.terminal/js/jquery.terminal.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.terminal/css/jquery.terminal.min.css"/>

<link rel="stylesheet" href="https://vectorjs.org/library.css">

</head>

<body>

    <!-- <div id="my-interactive"></div>
    <script type="module" src="./js/test.js"></script> -->

    <!-- <script src="js/test.js"></script> -->

    <div id="webgl-output"></div>
    
    <!-- Javascript code that runs our Three.js examples -->
    <script type="text/javascript">
        (function () {
            // your page initialization code here
            // the DOM will be available here
            init()
        })();
        
    </script>

<!-- <div id="can"><script>
   
    $('body').terminal({
        line: function(details) {
            this.echo('Line has a fixed length between two points');
        }
    },
    {
        Line: function(details) {
            this.echo('Line' +'is based on two points');
        }
    },
    {
        greetings: 'Terminal To execute'
    });
      </script></div> -->

</body>

</html>